<p><%= @user.username %>,</p>

<p>
  To reset your password, enter the following number into the "Secure Code" field in your browser: <br><br>
</p>

<p><%= @user.reset_password_token %></p>

<p>This code will expire in 30 minutes.</p>
